<div class="page-header">
<h2 class="header">
Contact Us
</h1>
</div>

<h4>

<p>Co-Creator </p>
<p>Gayatri Garg</p><h4>
<h5><p>MBA Candidate | Class of 2015</p>
<p>Kellogg School of Management | Northwestern University</p>
<p>ggarg2015@kellogg.northwestern.edu  | Mobile: 847.904.3094</p></h5>
<br>
<h4><p>Co-Creator</p>
<p>Nina Chandra</p></h4>
<h5><p>MBA Candidate | Class of 2015</p>
<p>Kellogg School of Management | Northwestern University</p>
<p>nchandra2015@kellogg.northwestern.edu | Mobile: 203.247.8332</p></h5>

</h3>
