<div class="page-header">
<h1 class="header">
<h2> About </h1>
</div>


<p style="font-size:18px";>
Wanting to ease the travails of networking, two genius non-programmers at Kellogg, have made a humble attempt to create a web-app to ensure that you never miss a follow up.

Plug in your contact name, phone number and email, as well as the detail for a reminder time, and it will schedule time on your calendar automatically.</p>

