<div class="page-header">
<h1 class="text">
VIEW CONTACT
</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>

  <% @contact_list.each do |contact| %>
    <tr>
      <td><%= contact.fname %></td>
      <td><%= contact.lname %></td>
    </tr>
  <% end %>
</table>

